page-login {
    .formActionBut{
        button{
            color: #4d9fe4;
            background-color: #fff;
            margin: 0.4rem 0.2rem;
            padding: 0 1em;
            border: 1px solid #4d9fe4;
            position: absolute;
            bottom: -30px;
            right: 15px;
        }
    } 
}
